table {
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  background-color: rgb(211, 207, 207);

}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: rgb(160, 151, 144)}
th {
  background-color: rgb(2, 2, 1);
  color: white;
  text-align: center;
}
#viewitem{

  padding-top: 50px;
  background-image: url("wallp.jpg");
  padding-bottom: 25%;

}
input[type=text], input[type=password],input[type=number] {
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

button {
  background-color: rgb(85, 107, 233);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-color: #333333;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}


button:disabled{
  cursor: not-allowed;
}
#search{
  width: 60%;
  margin-left: 25%;
  margin-right: auto;
  padding-bottom: 80px;

}
#yes{
  background-color: lightgreen;
  text-align: center;
}
#no{
  background-color: red;
  text-align: center;
}
